extends main

block content
  a(href="/home/0")
    img#bfb-logo-main(src="/static/images/BFB_Logo.png")
  div#explanation
    h4 Often times we have inevitable leftover food that we cannot discard in environmentally conscious and efficent manners
    h4 BfB is a tinder-like app that aims to solve food waste/hunger problem by letting people easily broadcast that their food is about to be trashed if not eaten soon. By making it easier for hungry people to discover potential sources of food (leftover pizza/chinese food from club meetings, etc), we hope to both reduce food waste and alleviate hunger at the same time

  style.
    #bfb-logo-main {
        position:absolute;
        width:400px;
        left:0;
        right:0;
        top:50px;
        margin:auto;
    }
    #explanation {
        margin-top:450px;
        width:600px;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
    }
