doctype html
html
  head
    title= Raymond
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(type = 'text/javascript', src = '//code.jquery.com/jquery-1.11.3.min.js')
    link(rel = 'stylesheet', href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    link(rel = 'stylesheet', href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    link(rel = 'stylesheet', href = '/css/setup.css')
    block head
  body
    header#bar
        block header
    block body