#channels-area{
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #4B698C;
    border-right: 1px solid #455A64;
}

#channels-area * {
    margin: 0;
    padding: 0;
}

#channels-menu{
    height: 45px;
    width: 100%;
    background-color: #4B698C;
    border-bottom: 1px solid #2D3C43;
}

#channels-menu-area{
    float: left;
    font-size: 23px;
    margin-top: 6px;
    margin-left: 10px;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

#channels-menu-area:hover{
    opacity: 1;
}

#channel-add-button{
    float: right;
    cursor: pointer;
    font-size: 23px;
    color: white;
    margin-top: 10px;
    margin-right: 9px;
    opacity: 0.6;
}

#channel-add-button:hover{
    opacity: 1;
}

#channel-add-button:hover{
    opacity: 1;
}

#channel-form-shader{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #37474F;
    opacity: 0.3;
    z-index: 15;
}

#channel-form{
    position: fixed;
    z-index: 15;
    background-color: white;
    height: 340px;
    width: 450px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    border: 2px #5C80AE solid;
    border-radius: 3px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

#close-channel-form{
    opacity: 0.5;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    cursor: pointer;
}

#close-channel-form:hover{
    opacity: 1;
    color: #5C80AE;
}

#submit-channel-form{
    opacity: 0.5;
    position: absolute;
    bottom: 10px;
    right: 17px;
    cursor: pointer;
    font-size: 26px;
}

#submit-channel-form:hover{
    opacity: 1;
    color: #5B82BA;
}

#channel-form textarea{
    position: absolute;
    left: 30px;
    font-size: 20px;
    resize: none;
    outline: none;
    border: 1px #5C80AE solid;
    padding: 5px 10px;
    width: calc(100% - 60px);
}

#channel-name-input{
    top: 80px;
    height: 40px;
}

#channel-desc-input{
    top: 140px;
    height: 140px;
}

ul#channels-list li{
    margin: 0;
    padding: 5px 13px;
    list-style-type: none;
    font-size: 18px;
    color: #D8D8D8;
    opacity: 0.87;
    cursor: pointer;
}

ul#channels-list li:hover{
    background-color: #547BAB;
}

ul#channels-list li.active{
    color: white;
    background-color: #75A2E0;
}