#display-channel{
    width: 50px;
    height: 100%;
    background-color: #E53935;
}

#channels-area{
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #4B698C;
    border-right: 1px solid #455A64;
}

#channels-menu{
    height: 40px;
    width: 100%;
    background-color: #4B698C;
    border-bottom: 1px solid #2D3C43;
}

#channels-menu-area{
    float: left;
    font-size: 22px;
    margin-top: 4px;
    margin-left: 10px;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

#channels-menu-area:hover{
    opacity: 1;
}

#channel-add-button{
    float: right;
    cursor: pointer;
    font-size: 23px;
    color: white;
    margin-top: 9px;
    margin-right: 9px;
    opacity: 0.6;
}

#channel-add-button:hover{
    opacity: 1;
}

#channel-add-button:hover{
    margin-top : 8px;
    font-size: 24px;
}

#channel-form-shader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #37474F;
    opacity: 0.3;
    z-index: 15;
}

#channel-form{
    position: fixed;
    z-index: 15;
    background-color: white;
    height: 350px;
    width: 450px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    border: 2px #5C80AE solid;
    border-radius: 3px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

#close-channel-form{
    opacity: 0.5;
    position: absolute;
    top: 15px;
    right: 18px;
    cursor: pointer;
}

#close-channel-form:hover{
    opacity: 1;
    color: #5C80AE;
}

#submit-channel-form{
    opacity: 0.5;
    position: absolute;
    bottom: 15px;
    right: 17px;
    cursor: pointer;
    font-size: 28px;
}

#submit-channel-form:hover{
    opacity: 1;
    color: #5B82BA;
}

.channel-input-form{
    padding: 3px;
    position: absolute;
    left: 30px;
    font-size: 20px;
    border: 1px solid #2573A6;
}

#channel-name-input{
    top: 80px;
    height: 40px;
    resize: none;
    outline: none;
    width: calc(100% - 60px);
    border: 1px #607D8B solid;
}

#channel-desc-input{
    top: 140px;
    height: 140px;
    resize: none;
    outline: none;
    width: calc(100% - 60px);
    border: 1px #607D8B solid;
}

ul#channels-list li{
    margin: 0;
    padding: 5px 15px 5px 15px;
    list-style-type: none;
    font-size: 21px;
    color: #D8D8D8;
    opacity: 0.87;
    cursor: pointer;
}

ul#channels-list li:hover{
    background-color: #5981B2;
}

ul#channels-list li.active{
    color: white;
    background-color: #75A2E0;
}