#chat-area{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0;
    background-color: #FAFAFA;
}

.chat-area-component{
    position: absolute;
    left: 180px;
    width: calc(100% - 180px);
    border: 0;
}

ul#messages-area{
    background-color: white;
    list-style-type: none;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 15px;
    overflow-y: auto;
    background-color: #FAFAFA;
}

ul#messages-area li{
    min-height: 2%;
}

ul#messages-area div{
    display: inline-block;
    padding: 0;
}

ul#messages-area div.message-sender{
    color: #5F8BAF;
    float: left;
    width: 100px;
}

ul#messages-area div.message-content{
    overflow: auto;
    color: #B59484;
    padding: 0;
    width: calc(100% - 100px);
    word-break: break-all;
}

#message-input-area{
    height: 50px;
    float: bottom;
    bottom: 0px;
    border-top: 1px solid #90A4AE;
}

textarea#message-input-text{
    position: absolute;
    padding: 0.5% 1% 0 1%;
    height: 100%;
    resize: none;
    outline: none;
    border: 0;
    border-right: 1px solid #90A4AE;
    width: calc(100% - 60px);
    background-color: #FAFAFA;
}

#message-input-button{
    position: absolute;
    float: bottom;
    bottom: 10px;
    right: 18px;
    cursor: pointer;
    color: #2573A6;
}