#classInfo{
  	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	float: left;
	margin: 0;
	position: absolute;
    width: 35%;
    height: 100%;
    border-right: 1px solid #DCDCDC;
    background-color: #FFFDE7;
}

#classInfo p{
	display: table;
	margin: auto;
}

div.classInfo{
    background-color: white;
	position: absolute;
	left: 8px;
	width: calc(100% - 16px);
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	padding: 5px;
}

div.classInfo#summary{
	top: 8px;
	display: table; 
}

div.classInfo#time{
	top: 45%;
	height: 4.5%;
	display: table; 
}

#time p{
	vertical-align: middle;
	display: table-cell;   
}

div.classInfo#location{
	top: 50.5%;
}

div.classInfo#location #where{
	float: left;
	width: 95%;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.classInfo#location #where p{
	width: 100%;
}

div.classInfo#location #mapButton{
	float: right;
	right: 10px;
	position: absolute;
	top: calc(60% - 13px);
	cursor: pointer;
	font-size: 26px;
	display: none;
}

div.classInfo#location #mapButton:hover{
	color: #43A047;
}

div.classInfo#description{
	float: bottom;
	height: 39%;
	bottom: 10px;
}
