#drive-area{
	position: absolute;
	border:0;
  height: 100%;
  margin-left: 60%;
  width: 40%;
  top: 45%;
  height: 55%;
	z-index: 5;
	background-color: white;
	padding: 10px;
  border-left: 1px solid #607D8B;
  border-top: 1px solid #607D8B;
}

#drive-menu-menus{
  position: absolute;
  top: 0;
  right: 60px;
  float: right;
  margin-top: 10px;
}

#drive-file-upload-buttom{
  margin-left: 20px;
  cursor: pointer;
  height: 30px;
}

#drive-file-list{
  margin: 10px 40px 10px 25px;
}

.drive-file-list-item{
  padding: 5px 15px 5px 15px;
  border-top: 1px solid #607D8B;
  font-size: 16px;
}

#drive-description{
  color: #2573A6;
  font-size: 18px;
  margin-left: 25px;
}

.drive-file-list-item a{
  text-decoration:none;
}