#side-bar-container{
	position: absolute;
	width: 50px;
	top: 50px;
	background-color: #607D8B;
	height:calc(100% - 50px);
}

.fa{
	font-size: 30px;
}

.side-bar-item{
	left: 10px;
	position: absolute;
}

#side-bar-container input[type=file]{ 
	opacity:0;
	z-index: 1;
	height: 30px;
	width: 30px;
	top: 50px;
}

#calendar-upload-button-icon{
	top: 50px;
}