#thread-area{
    position: absolute;
    margin-left: 60%;
    width: 40%;
    float: left;
    padding: 0;
    background-color: #B0BEC5;
    border-left: 1px solid #607D8B;
}

.thread-area-component{
    position: absolute;
    width: 100%;
    background-color: white;
    margin: 0;
}

#thread-menu-area{
    margin: 0;
    height: 40px;
    background-color: #2573A6;
    border-bottom: 1px solid #607D8B;
}

#thread-menu-menus{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}

#show-thread-post{
	cursor: pointer;
	float: right;
    right: 10px;
    margin-top: 13px;
    margin-right: 10px;
	font-size: 25px;
    color: #FAFAFA;
}

#show-thread-post:hover{
    margin-top: 12px;
    margin-right: 8px;
    font-size: 28px;
    color: white;
}

#show-drive-area{
    cursor: pointer;
    margin-top: 6px;
    margin-left: 6px;
    z-index: 10;
    width: 27px;
}

#search-thread{
    outline: none;
    position: absolute;
    margin-top: 6px;
    height: 29px;
    width: 200px;
    float: right;
    right: 50px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #616161;
}

ul#threads-area{
    list-style-type: none;
    background-color: #ECEFF1;
    top: 40px;
    height: calc(100% - 40px);
    overflow: auto;
    z-index: 1;
}

ul#threads-area li{
    word-break: break-all;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #607D8B;
    cursor: pointer;
}

ul#threads-area li:hover{
    background-color: #FAFAFA;
}

.thread-post-content{
    position: absolute;
    top: 14px;
    margin-left: 40px;
    width: (100% - 40px);
}

div.thread-post-postedBy{
    position: relative;
    float: right;
}

#thread-input-form{
    font-family: 'Lato', sans-serif;
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 610px;
    width: 760px;
    padding: 15px;
    background-color: white;
    border: 2px #5C80AE solid;
    border-radius: 3px;
}

#thread-input-shader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 50px;
    background-color: #37474F;
    opacity: 0.3;
    z-index: 10;
}

#thread-input-form .note-resizebar{
    display: none;
}

#thread-input-form-title{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: #2573A6;
}

#thread-input-form textarea{
    resize: none;
    outline: none;
    position: absolute;
    border: 1px solid #2573A6;
}

#thread-input-form textarea#thread-title-input{
    width: 90%;
    left: 5%;
    height: 40px;
    padding: 7px 10px;
    top: 80px;
    font-size: 17px;
}

#thread-input-form .note-editor.note-frame.panel.panel-default{
    position: absolute;
    bottom: 0;
    top: 140px;
    height: 400px;
    left: 5%;
    width: 90%;
    border: 1px #2573A6 solid;
    border-radius: 0;
}

.panel-default .fa{
    font-size: 15px;
}

#submit-thread-form{
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    float: right;
    right: 20px;
    bottom: 15px;
    font-size: 28px;
    cursor: pointer;
}

#submit-thread-form:hover {
    opacity: 1;
    color: #5B82BA;
}

#close-thread-form {
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    top: 15px;
    float: right;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

#close-thread-form:hover {
    opacity: 1;
    color: #5C80AE;
}
