#thread-area{
    position: absolute;
    margin-left: 60%;
    width: 40%;
    float: left;
    padding: 0;
    background-color: #B0BEC5;
    border-left: 1px solid #607D8B;
}

.thread-area-component{
    position: absolute;
    width: 100%;
    background-color: white;
    margin: 0;
}

#thread-menu-area{
    margin: 0;
    height: 40px;
    background-color: #2573A6;
    border-bottom: 1px solid #607D8B;
}

#thread-menu-menus{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}

#show-thread-post{
	cursor: pointer;
	float: right;
    right: 10px;
    margin-top: 13px;
    margin-right: 10px;
	font-size: 25px;
    color: #FAFAFA;
}

#show-thread-post:hover{
    margin-top: 12px;
    margin-right: 8px;
    font-size: 28px;
    color: white;
}

#show-google-docs{
    cursor: pointer;
    margin-top: 6px;
    margin-left: 6px;
    z-index: 10;
    width: 27px;
}

#show-google-docs:hover{
    margin-top: 6px;
    margin-left: 6px;
    width: 28px;
}

#search-thread{
    outline: none;
    position: absolute;
    margin-top: 6px;
    height: 29px;
    width: 200px;
    float: right;
    right: 50px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #616161;
}

ul#threads-area{
    list-style-type: none;
    background-color: #ECEFF1;
    top: 40px;
    height: calc(100% - 40px);
    overflow: auto;
    z-index: 1;
}

ul#threads-area li{
    word-break: break-all;
    width: 100%;
    padding: 7px 15px;
    margin: 0;
    min-height: 10%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #607D8B;
    cursor: pointer;
}

ul#threads-area li:hover{
    background-color: #FAFAFA;
}

.thread-post-content{
    position: absolute;
    top: 14px;
    margin-left: 40px;
    width: (100% - 40px);
}

div.thread-post-postedBy{
    position: relative;
    float: right;
}

textarea#thread-input{
    z-index: 2;
    padding: 3px;
    position: absolute;
    bottom: 15px;
    height: 80px;
    resize: none;
    outline: none;
    left: 10px;
    width: calc(100% - 20px);
    border: 1px #607D8B solid;
}

#submit-thread{
    z-index: 3;
    position: absolute;
    float: right;
    right: 15px;
    bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

#submit-thread:hover{
    font-size: 25px;
    bottom: 17px;
    right: 13px;
}

.fa.fa-check-square-o{
    margin-left: 10px;
}

#cancel-thread-post{
    z-index: 3;
    position: absolute;
    float: right;
    right: 17px;
    bottom: 100px;
    font-size: 22px;
    cursor: pointer;
}

#cancel-thread-post:hover{
    font-size: 27px;
    bottom: 97px;
    right: 15px;
}
