#thread-area{
    position: absolute;
    margin-left: 60%;
    width: 40%;
    float: left;
    padding: 0;
    background-color: #B0BEC5;
    border-left: 1px solid #607D8B;
}

.thread-area-component{
    position: absolute;
    width: 100%;
    background-color: white;
    margin: 0;
}

#thread-menu-area{
    margin: 0;
    height: 45px;
    background-color: #386BA6;
    border-bottom: 1px solid #607D8B;
}

#thread-menu-area span{
    position: absolute;
    color: white;
    font-size: 11px;
}

#thread-menu-menus{
    position: absolute;
    float: right;
    right: 0;
    top: 0;
}

#show-thread-form-button{
    opacity: 0.7;
    cursor: pointer;
}

#show-thread-form-button:hover,
#show-thread-form-button.active{
    opacity: 1;
}

#thread-menu-menus span{
    width: 60px;
    right: 10px;
    top: 28px;
}

#show-thread-form-icon{
	float: right;
    margin-top: 8px;
    margin-right: 28px;
	font-size: 27px;
    color: white;
}

#show-drive-area-button{
    opacity: 0.7;
    cursor: pointer;
}

#show-drive-area-button:hover,
#show-drive-area-button.active{
    opacity: 1;
}

#show-drive-area-button span{
    margin-top: 29px;
    left: 10px;
}

#show-drive-area-icon{
    position: absolute;
    top: 3px;
    left: 24px;
    width: 26px;
}

#search-thread{
    outline: none;
    position: absolute;
    margin-top: 6px;
    height: 33px;
    width: 220px;
    float: right;
    right: 80px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid #616161;
}

ul#threads-area{
    list-style-type: none;
    background-color: #E3E5ED;
    top: 45px;
    height: calc(100% - 45px);
    overflow: auto;
    margin: 0;
    padding: 0;
    z-index: 1;
}

ul#threads-area li{
    word-break: break-all;
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    height: 40px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #607D8B;
    cursor: pointer;
}

ul#threads-area li:nth-child(even){
    background-color: #E6E6E6;
}

ul#threads-area li:hover{
    background-color: #ECF5FF;
}

div.thread-list-item-postedBy {
    position: relative;
    float: right;
}

/*********************************************/
/*********************************************/
/*********************************************/

#thread-input-form{
    z-index: 10;
    position: fixed;
    left: 0;
    right: 0;
    top: 15%;
    bottom: 0;
    margin: 0 auto;
    height: 610px;
    width: 715px;
    padding: 15px;
    background-color: white;
    border: 2px #5C80AE solid;
    border-radius: 3px;
}

#thread-input-shader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #37474F;
    opacity: 0.3;
    z-index: 10;
}

#thread-input-form .note-resizebar{
    display: none;
}

#thread-input-form-title{
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: #2573A6;
}

#thread-input-form textarea{
    resize: none;
    outline: none;
    position: absolute;
    border: 1px solid #2573A6;
}

#thread-input-form textarea#thread-title-input{
    width: 90%;
    left: 5%;
    height: 40px;
    padding: 7px 10px;
    top: 80px;
    font-size: 17px;
}

#thread-input-form .note-editor.note-frame.panel.panel-default{
    position: absolute;
    bottom: 0;
    top: 140px;
    height: 400px;
    left: 5%;
    width: 90%;
    border: 1px #2573A6 solid;
    border-radius: 0;
}

.panel-default .fa{
    font-size: 16px;
}

#thread-input-warning{
    position: absolute;
    bottom: 20px;
    left: 35px;
    font-size: 19px;
    color: #FA360A;
}

#submit-thread-form{
    z-index: 3;
    opacity: 0.5;
    position: absolute;
    float: right;
    right: 20px;
    bottom: 15px;
    font-size: 28px;
    cursor: pointer;
}

#submit-thread-form:hover {
    opacity: 1;
    color: #5B82BA;
}

#close-thread-form {
    z-index: 3;
    opacity: 0.3;
    position: absolute;
    top: 10px;
    float: right;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

#close-thread-form:hover {
    opacity: 1;
    color: #5C80AE;
}
