#channels-area{
    position: absolute;
    width: 180px;
    height: 100%;
    background-color: #4B698C;
    border-right: 1px solid #455A64;
}

#channels-menu{
    height: 45px;
    width: 100%;
    background-color: #4B698C;
    border-bottom: 1px solid #2D3C43;
}

#channels-menu-area{
    float: left;
    font-size: 23px;
    margin-top: 6px;
    margin-left: 10px;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

#channels-menu-area:hover{
    opacity: 1;
}

#channel-add-button{
    float: right;
    cursor: pointer;
    font-size: 23px;
    color: white;
    margin-top: 10px;
    margin-right: 9px;
    opacity: 0.6;
}

#channel-add-button:hover{
    opacity: 1;
}

#channel-add-button.show-channel-form.active{
    opacity: 1;
}

ul#channels-list {
    margin: 0;
    padding: 0;
}

ul#channels-list li{
    margin: 0;
    padding: 5px 13px;
    list-style-type: none;
    font-size: 18px;
    color: #D8D8D8;
    opacity: 0.87;
    cursor: pointer;
}

ul#channels-list li:hover{
    background-color: #547BAB;
}

ul#channels-list li.active{
    color: white;
    background-color: #75A2E0;
}

/****************************************/
/****************************************/
/****************************************/

#channel-form{
    height: 340px;
    width: 450px;
}

#channel-form textarea{
    left: 30px;
    font-size: 20px;
    padding: 5px 10px;
    width: calc(100% - 60px);
}

#channel-name-input{
    top: 80px;
    height: 40px;
}

#channel-desc-input{
    top: 140px;
    height: 140px;
}
