div#content-area{
    position: absolute;
    width: 100%;
    top: 40px;
    height: calc(100% - 40px);
    min-height: 600px;
    min-width: 900px;
}

.page-shader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #37474F;
    opacity: 0.3;
    z-index: 10;

}

.input-form{
    z-index: 15;
    position: fixed;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 15px;
    border: 2px #5C80AE solid;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

.input-form textarea{
    position: absolute;
    border: 1px solid #2573A6;
    resize: none;
    outline: none;
}

.form-title{
    text-align: center;
    font-size: 26px;
    margin-top : 10px;
    margin-bottom: 20px;
    color: #2573A6;
}

.button-submit-form{
    opacity: 0.5;
    position: absolute;
    float: right;
    right: 15px;
    bottom: 10px;
    font-size: 24px;
    cursor: pointer;
}

.button-submit-form:hover {
    opacity: 1;
    color: #5B82BA;
}

.button-close-form {
    opacity: 0.5;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.button-close-form:hover {
    opacity: 1;
    color: #5C80AE;
}

.form-warning{
    opacity: 0.7;
    position: absolute;
    bottom: 15px;
    left: 35px;
    font-size: 20px;
    color: #FA360A;
}