#drive-area{
    position: absolute;
    border:0;
    height: 100%;
    margin-left: 60%;
    width: 40%;
    top: 35%;
    height: 65%;
    z-index: 5;
    background-color: #FEFEFE;
    padding: 10px;
    border-left: 1px solid #607D8B;
    border-top: 1px solid #475D71;
}

#drive-area * {
    list-style: none;
}

#drive-menu{
    position: absolute;
    top: 0;
    right: 60px;
    float: right;
    margin-top: 10px;
    cursor: pointer;
}

#drive-menu span{
    position: absolute;
    top: 28px;
    right: -8px;
    font-size: 11px;
    width: 45px;
    color: #2573A6;
}

#drive-file-upload-button{
    margin-right: 5px;
    cursor: pointer;
    height: 28px;
}

#drive-description{
    color: #2573A6;
    font-size: 20px;
    margin-left: 25px;
    margin-top: 5px;
}

#drive-file-list{
    margin: 10px 40px 10px 25px;
    padding: 0;
}

.drive-file-list-item{
    padding: 10px 15px 10px 15px;
    border-top: 1px solid #607D8B;
    font-size: 17px;
}

.drive-file-list-item a{
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

.drive-file-list-item i.fa{
    font-size: 22px;
    cursor: pointer;
}

i.fa-file-word-o{
    color: #3175C8;
}

i.fa-file-excel-o{
    color: #42C663;
}

i.fa-file-powerpoint-o{
    color: #E9A033;
}

i.fa-file-pdf-o{
    color: #FA360A;
}

/****************************************/
/****************************************/
/****************************************/

#drive-input-form{
    height: 260px;
    width: 340px;
}

#drive-input-form textarea{
    left: 30px;
    width: calc(100% - 60px);
    padding: 5px 10px;
    height: 45px;
}

#drive-input-form-file-selector{
    margin-top: 70px;
    position: absolute;
    width: 100%;
    padding: 0 15px;
}

.drive-input-icon {
    opacity: 0.4;
    font-size: 43px;
    margin-right: 22px;
    cursor: pointer;
}

.drive-input-icon:hover{
    opacity: 1;
}

.drive-input-icon.active{
    opacity: 1;
}
