#notification-bar {
	position: absolute;
	right: 4%;
	top: 80px;
	width: 19%;
	min-width: 150px;
	height: 670px;
	background-color: #B0BEC5;
	overflow-y:scroll;
	padding: 0;
}

#notification-bar-list{
	padding: 3px 4px;
	margin: 0;
}

#notification-bar li{
	padding: 3px;
	margin-top: 5px;
	margin-bottom: 10px;	
	min-height: 120px;
	margin-left: 1%;
	width: 98%;	
	height: 15%;
	background-color: #FFFFFF;
	overflow: auto;
	cursor: pointer;
}

#notification-bar li:hover{
	background-color: #FBFBFB;
}