extends layout

block head  

block body
  div#mount_point= body
  script(type = 'text/javascript' src="http://localhost:8080/webpack-dev-server.js")
  script(type = 'text/javascript' src="http://localhost:8080/build/test.js")