extends layout
block head
  link(href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.1/summernote.css" rel="stylesheet")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.7.1/summernote.min.js")
block body
  div#mount-point= body
  script(type='text/javascript').
    var APP_PROPS = !{JSON.stringify(APP_PROPS)};
  script(type = 'text/javascript' src="/build/course.js")