extends layout

block head  
  link(rel = 'stylesheet', href = '/stylesheets/dashboard.css')
block body
  div#mount_point= body
  script(type='text/javascript').
    var APP_PROPS = !{JSON.stringify(APP_PROPS)};
  script(type = 'text/javascript' src="http://localhost:8080/webpack-dev-server.js")
  script(type = 'text/javascript' src="http://localhost:8080/build/bundle.js")