doctype html
html
  head
    title= Raymond
    meta(name = 'viewport', content = 'width=device-width, initial-scale=1')
    script(type = 'text/javascript', src = '//code.jquery.com/jquery-1.11.3.min.js')
    link(rel = 'stylesheet', href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css') 
    link(rel = 'stylesheet', href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    block head
  body
    block body