extends layout
block head
  link(rel = 'stylesheet', href = '/stylesheets/style.css') 
block body
  img#background(src = '/images/raymond.jpg')
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
      a.nav.navbar-left.navbar-brand(href="/")
        | Raymond
      a#nav.navbar-right.navbar-brand(href='/auth/google')
        | Login &nbsp;                  