extends layout
block head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Rayos
  link(href='/stylesheets/ie10-viewport-bug-workaround.css', rel='stylesheet')
  link(href='/stylesheets/login.css', rel='stylesheet')
  style(type='text/css').
    :root .carbonad,
    :root #content > #right > .dose > .dosesingle,
    :root #content > #center > .dose > .dosesingle,
    :root #carbonads-container
    {display:none !important;}

block body
  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Rayos
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='/auth/google') Get Started
          .inner.cover
            .rayos-info-pannel.active
              img#rayos-image(src='/images/school_icon.png')
              h1.cover-heading All your classes, virtualized
                p.lead
                  | Rayos provides a collaborative environment so you can stay connected to your class
            .rayos-info-pannel
              img#rayos-image(src='/images/collaborate.png')
              h1.cover-heading Collaborative work environment
                p.lead
                  | Share notes and files together with your classmates realtime
            .rayos-info-pannel
              img#rayos-image(src='/images/school_icon.png')
              h1.cover-heading Classroom threads
                p.lead
                  | Ask questions and conduct surveys
            .rayos-info-pannel
              img#rayos-image(src='/images/school_icon.png')
              h1.cover-heading Instant messaging
                p.lead
                  | Message across
            .navigation-area
              i.navigate-item.fa.fa-angle-double-left(data-id = "left")
              i.navigate-item.fa.fa-angle-double-right(data-id = "right")
              p.get-started
                a.btn.btn-lg.btn-default(href='/auth/google') Get Started
        .mastfoot
          .inner
            p#bottom-footer
              a(href='http://rayos.xyz/') Rayos
              |  by&nbsp;
              a(href='https://adicu.com/') ADI Labs
  script(src='/javascripts/ie10-viewport-bug-workaround.js')
  script(src='/javascripts/loginPage.js')