extends layout
block head
block body
  nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
      a.nav.navbar-left.navbar-brand(href="/")
        | Rayos
      a#nav.navbar-right.navbar-brand(href='/auth/google')
        | Login &nbsp;